.span12
  = simple_form_for(@comment, url: api_v1_story_comments_path(@story.id), remote: true) do |f|
    = f.input :body, as: :text, input_html: {rows: 4}, label: false
    = f.hidden_field :user_id, value: current_user.id
    = f.button :submit, 'Add comment'