- @change_buttons.each do |btn|
  = link_to btn[:label], story_path(@story, event: "to_#{btn[:label]}"), method: :put, class: 'btn btn-small', remote: true, style: "background: #{btn[:color]}", method: :post
- if @story.state == 'accept'
  %span.label{style: "background: '#ddd'"} accept