.span7
  %table.table
    %thead
      %tr
        %th Comments
    %tbody
      %tr
        %td
          = nested_comments @comments.reverse
      %tr
        %td
          = link_to 'Add comment', '#', class: 'add_root_comment'
