/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.delete_comment a {
  color: #e65a76;
}

.reply_comment {
  color: #32b1d0;
}

.edit_story_link {
  color: #5f9744;
}

.add_root_comment {
  color: #32b1d0;
  display: none;
}

.comment {
  border-top: 3px;
  margin-left: 40px;
}

.footer {
  padding-top: 50px;
}

.filter-field {
  width: 150px;
  margin-left: 10px;
}

#story-body {
  padding-top: 20px;
}

.nested_comments {
  margin-left: 30px;
}

.item_comment {
  display: block;
  border-width: 0px 0px 2px 0px;
  border-style: inset;
  padding-left: 10px;
}